# -----------------------------------------------------------------------------
# --  C SOURCES
# -----------------------------------------------------------------------------

/autom4te.cache/
/config/
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
config.status
configure
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
*~
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda

src/austin
src/austinp
src/austin.exe
src/austin.dSYM*


# -----------------------------------------------------------------------------
# --  PYTHON SOURCES
# -----------------------------------------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/*build/

# PyBuilder
target/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# -----------------------------------------------------------------------------
# --  SNAP SOURCES
# -----------------------------------------------------------------------------

/parts/
/stage/
/prime/
/*.snap

# Snapcraft global state tracking data(automatically generated)
# https://forum.snapcraft.io/t/location-to-save-global-state/768
/snap/.snapcraft/

# Source archive packed by `snapcraft cleanbuild` before pushing to the LXD container
/*_source.tar.bz2


# -----------------------------------------------------------------------------
# -- DEB SOURCES
# -----------------------------------------------------------------------------

*debhelper*
debian/austin
debian/files
*.substvars


# -----------------------------------------------------------------------------
# -- EDITORS
# -----------------------------------------------------------------------------
.vscode
