os:
  - windows
  - linux
  - osx

language: c

compiler:
  - gcc

git:
  depth: 1

osx_image: xcode10

sudo: required

addons:
  apt:
    sources:
    - sourceline: 'ppa:deadsnakes/ppa'
    - sourceline: 'ppa:duggan/bats'
    packages:
    - bats
    - valgrind

    - python2.3
    - python2.4
    - python2.5
    - python2.6
    - python2.7

    - python3.3
    - python3.4
    - python3.5
    - python3.6
    - python3.7

before_script:
  if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then autoreconf --install; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux"   ]]; then ./configure && make && sudo make check; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"     ]]; then gcc -Wall -O3 -o src/austin src/*.c;    fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then gcc -Wall -O3 -o src/austin src/*.c;    fi

after_success:
  ./src/austin --usage

after_failure:
  - if [[ "$TRAVIS_OS_NAME" == "linux"   ]]; then cat /var/log/syslog.log | grep austin; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux"   ]]; then cat test-suite.log;                    fi

before_deploy:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export VERSION=$(cat src/austin.h | sed -E "s/.*VERSION[ ]+\"(.+)\"/\1/"); else export VERSION=$(cat src/austin.h | sed -r -n "s/.*VERSION[ ]+\"(.+)\"/\1/p"); fi
  - echo "==== Preparing to create GitHub Release for version $VERSION ===="

  - if [[ "$TRAVIS_OS_NAME" == "linux"   ]]; then export ZIP_CMD="tar -Jcf"     && export ARTEFACT="austin-${VERSION}-linux-amd64.tar.xz"; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx"     ]]; then export ZIP_CMD="zip -r"       && export ARTEFACT="austin-${VERSION}-mac-x86_64.zip";     fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then export ZIP_CMD="7zip a -tzip" && export ARTEFACT="austin-${VERSION}-win64.zip";          fi
  - echo " - Using command $ZIP_CMD to create artefact $ARTEFACT"

  - cd src
  - $ZIP_CMD $ARTEFACT austin
  - echo " - Generated artefact" $(ls $ARTEFACT)

  - git config --local user.name "Gabriele N. Tornetta"
  - git config --local user.email ${GITHUB_EMAIL}
  - git tag -a -m "Release $VERSION" $VERSION

deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: $ARTEFACT
  skip_cleanup: true
