Source: austin
Section: devel
Priority: optional
Maintainer: Gabriele N. Tornetta <phoenix1987@gmail.com>
Build-Depends: debhelper (>= 11~),
 bats,
 valgrind,
 python3 (>= 3.3)
Standards-Version: 4.4.0
Homepage: https://github.com/P403n1x87/austin
Vcs-Git: https://github.com/P403n1x87/austin
Vcs-Browser: https://github.com/P403n1x87/austin

Package: austin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Frame stack sampler for CPython
 Austin is a Python frame stack sampler for CPython written in pure C. It
 samples the stack traces of a Python application so that they can be visualised
 and analysed. As such, it serves the basis for building powerful profilers for
 Python.
 .
 The most interesting use of Austin is probably in conjunction with FlameGraph
 to profile Python applications while they are running, without the need of
 instrumentation. This means that Austin can be used on production code with
 little or even no impact on performance.
