name: Release (Linux archs)
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
jobs:
  release-linux-archs:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        arch: ["armv7", "aarch64", "ppc64le"]
      fail-fast: false
    name: Build on ${{ matrix.arch }}
    steps:
      - uses: actions/checkout@v2
        name: Checkout sources
      
      - uses: uraimo/run-on-arch-action@v2.0.5
        name: Run tests on ${{ matrix.arch }}
        id: run-tests-on-arch
        with:
          arch: ${{ matrix.arch }}
          distro: ubuntu20.04
          githubToken: ${{ github.token }}
          dockerRunArgs:  --volume "${GITHUB_WORKSPACE}/artifacts:/artifacts"
          setup: |
            mkdir -p ./artifacts
          run: ARCH=${{ matrix.arch }} bash scripts/build_arch.sh

      - name: Show artifacts
        run: |
          ls -al ./artifacts

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: artifacts/austin*.tar.xz
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
